@import "tailwindcss";

body {
  background-color: var(--color-slate-900);
}

@layer utilities {
  .text-outline {
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
  }

  .group:hover .text-outline-hover {
    color: transparent;
    -webkit-text-stroke: 1px #00bba7;
    transition: -webkit-text-stroke 300ms ease-in-out;
  }

  /* Applies to all scrollable elements */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent; /* or use rgba(255, 255, 255, 0.05) for subtle background */
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #00bba7, #007e7a);
    border-radius: 8px;
    transition: background 0.3s;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #00ffee, #00bba7);
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #00bba7 transparent;
  }
}
